<div class="highproject-weapper">
    <div class="highproject-head">
        <img src="<%= require('assets/image/h/height-item01.jpg') %>" alt="" class="icon" />
    </div>
    <div class="highproject-main">
        <div class="title">
            <span>高企项目申报的好处</span>
        </div>
        <div class="main">
            <img src="<%= require('assets/image/h/height-item02.jpg') %>" alt="" class="icon" />
        </div>
    </div>
</div>