<div id="footer">
    <div class="contact-archival">
        <p style="margin-top: 12px;">友情链接&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合肥商标申请,合肥专利申请,合肥软著申请,合肥软著加急,合肥专利撰写,合肥专利申报&nbsp;&nbsp;&nbsp;&nbsp;www.hefeizhihuixin.com</p>
        <p style="margin-top: 0;">知识产权一站式服务平台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为您的核心产权保驾护航</p>
        <p style="margin-top: 20px;">公司地址：安徽省合肥市蜀山区新华国际广场C座11层&nbsp;&nbsp;&nbsp;&nbsp;电话：0551-62843887&nbsp;&nbsp;&nbsp;&nbsp;手机：18656092625&nbsp;&nbsp;&nbsp;&nbsp;邮箱：835765874@qq.com</p>
        <p style="margin-top: 20px;">网络推广支持：泽优信息</p>
        <p class="baian" style="margin-top: 30px;">©2020 安徽智慧芯知识产权运营有限公司 版权所有</p>
        <p class="baian"><a class="baian" href="https://beian.miit.gov.cn/">皖ICP备18022947号</a></p>
    </div>
</div>
<div id="siteBackToTop_small_box" class="fk_siteBackToTop" title="回到顶部" _style="secondStyle_05" _realmousein="0"></div>