<div class="help-weapper">
    <div class="help-main">
        <div class="help-title">
            <span>帮助中心</span>
        </div>
        <div class="help-ul">
            <div class="help-tabbar">
                <h3 class="h3-title">常见问题分类</h3>
                <div class="subside-mod">
                    <div class="title active">
                        <span class="name">开心成长系列</span><span class="icon"></span>
                    </div>
                    <ul class="item-ul">
                        <li class="item-li active" id="1-1">关于巧虎开心成长系列</li>
                    </ul>
                </div>
                <div class="subside-mod">
                    <div class="title">
                        <span class="name">新手入门</span><span class="icon"></span>
                    </div>
                    <ul class="item-ul" style="display: none;">
                        <li class="item-li" id="2-1">订购流程</li>
                        <li class="item-li" id="2-2">运费计算</li>
                    </ul>
                </div>
                <div class="subside-mod">
                    <div class="title">
                        <span class="name">售后服务</span><span class="icon"></span>
                    </div>
                    <ul class="item-ul" style="display: none;">
                        <li class="item-li" id="3-1">售后服务</li>
                    </ul>
                </div>
                <div class="subside-mod">
                    <div class="title">
                        <span class="name">用户中心使用指导</span><span class="icon"></span>
                    </div>
                    <ul class="item-ul" style="display: none;">
                        <li class="item-li" id="4-1">用户中心的使用指导</li>
                    </ul>
                </div>
                <div class="subside-mod">
                    <div class="title">
                        <span class="name">退款流程</span><span class="icon"></span>
                    </div>
                    <ul class="item-ul" style="display: none;">
                        <li class="item-li" id="5-1">退款流程</li>
                    </ul>
                </div>
            </div>
            <div class="help-info">
                <h3 class="h3-title"></h3>
                <div class="help-info-content" id="1-1">
                    <p class="title">Q1：什么是巧虎开心成长系列？</p>
                    <p class="msg">《巧虎开心成长系列》是由中国福利会出版社出版发行的，综合性开发学前孩子多种能力的周边商品。每套商品有其独特针对性，全面释放宝宝的潜能，获得加倍体验、加倍成长。</p>
                    <p class="title">Q2：巧虎开心成长系列有哪些商品？</p>
                    <p class="msg">分为5大类商品：英语系列、智育系列、社会与情感系列、艺术与创造系列、综合系列。</p>
                    <p class="msg">认知学习系列的每套商品皆围绕一个主题，通过丰富的构成物和连动的学习形式，让孩子对学习充满好奇和探索欲望，在玩的天性中逐步学习，学得更主动更愉快！目前有语文、数学、英语、百科系列等类型的商品。</p>
                    <p class="msg">益智玩具系列旨在培养孩子想象力、动手能力、音乐感等综合素质，让孩子在享受一个欢快童年的同时赢得综合智能发展的“第一桶金”。目前主要有音乐类、积木类、图画书类等商品。</p>
                    <p class="msg">生活用品系列的开发是为了满足孩子的健康成长，商品充分考虑到幼儿的成长特性，材质安全、品质优秀！目前主要有生活家居类与雨具类商品。</p>
                </div>
                <div class="help-info-content" id="2-1">
                    <p class="title">订购流程</p>
                    <p class="msg">
                        <img src="<%= require('assets/image/qa_pic1.jpg') %>" alt="" class="icon" />
                    </p>
                    <p class="title">1、注册登陆</p>
                    <p class="msg">&nbsp;&nbsp;（1）老用户：请在“登陆 ”页面输入Email地址、注册密码进行登陆。在巧虎官网注册的用户在巧虎商城需要重新进行注册，用户名可以与官网www.qiaohu.com里的相同。（2）新用户：请点击“注册 ”页面按照提示完成注册（3）您还可以在高级搜索中根据商品适用年龄、上市时间、用户评价等条件进行搜索。</p>
                    <p class="title">2、搜索商品</p>
                    <p class="msg2">&nbsp;&nbsp;巧虎商城为您提供了方便快捷的商品搜索功能：</p>
                    <p class="msg2">&nbsp;&nbsp;（1）您可以通过在首页输入关键字的方法来搜索您想要购买的商品</p>
                    <p class="msg">&nbsp;&nbsp;（2）您还可以三大系列导航栏来找到您想要购买的商品</p>
                    <p class="title">3、放入购物车</p>
                    <p class="msg2">&nbsp;&nbsp;在您想要购买的商品的详情页点击“购买”，商品会添加购物车中；还可以继续挑选商品放入购物车一起结算。</p>
                    <p class="msg2">&nbsp;&nbsp;（1）在购物车中，系统默认每件商品的订购数量为一件，如果您想购买多件商品，可修改购买数量</p>
                    <p class="msg2">&nbsp;&nbsp;（3）在购物车中，您可以直接查看到商品价格、重量和获得的礼物及优惠。</p> 
                    <p class="msg">&nbsp;&nbsp;（4）购物车页面下方的商品是当当网根据您挑选的商品为您作出的推荐，若有您喜爱的商品，点击“放入购物车”即可</p>
                    <p class="msg2">&nbsp;&nbsp;温馨提示：</p>
                    <p class="msg2">&nbsp;&nbsp;（1）商品价格会不定期调整，最终价格以您提交订单后订单中的价格为准</p>
                    <p class="msg">&nbsp;&nbsp;（2）优惠政策、配送时间、运费收取标准等都有可能进行调整，最终成交信息以您提交订单时网站公布的最新信息为准。</p>

                    <p class="title">4、填写收货人信息</p>
                    <p class="msg">&nbsp;&nbsp;（1）请填写正确完整的收货人姓名、收货人联系方式、详细的收货地址和邮编，否则将会影响您订单的处理或配送（2）您可以进入“用户中心—修改资料”编辑常用收货地址，保存成功后，再订购时，可以直接选择使用</p>
                    <p class="title">5、选择支付方式</p>
                    <p class="msg">&nbsp;&nbsp;订购过程中您可以选择：（1）货到付款  （2）银行转帐  （3）邮局汇款</p>
                    <p class="title">6、关于发票</p>
                    <p class="msg">&nbsp;&nbsp;系统默认在送货时提供个人发票，但如用户需要有指定抬头的发票，请在订单的备注中注明并写下发票的抬头。</p>
                    <p class="title">7、提交订单</p>
                    <p class="msg2">&nbsp;&nbsp;（1）以上信息核实无误后，请点击“提交订单”，系统生成一个订单号，就说明您已经成功提交订单</p>
                    <p class="msg">&nbsp;&nbsp;（2）订单提交成功后，您可以登陆“用户中心 ”查看订单状态。</p>
                </div>
                <div class="help-info-content" id="2-2">
                    <p class="title">Q1：运费计算</p>
                    <p class="msg">购买多件商品的，请您使用购物车自助购物，系统默认只收取一次配送费的。若同笔订单总重超过20KG，则续重20KG以内再收取一笔配送费及货到付款手续费，以此类推。如：在河南的客户订购巧虎的好习惯收纳套装两套、巧虎的数学欢乐城、巧虎琪琪穿衣学习偶各一套，总重为23.5KG，超过了20KG，则收取商品价格+配送费+货到付款手续费=588+368+298+16X2+10X2=1306元。</p>
                </div>
                <div class="help-info-content" id="3-1">
                    <p class="title">Q1：我要换收货地址，该怎么办？</p>
                    <p class="msg">请查看订单状态，若订单尚未被处理，请删除订单并重新下单。若已经处理，请及时联系客服询问解决办法。</p>
                    <p class="title">Q2：当发现商品部件有缺漏该怎么办？</p>
                    <p class="msg">当您收到商品后，请先对照使用指导或说明书，对收到的商品进行确认。如发现收到的全套商品有缺漏现象，请务必在收到商品的15天内（以收件邮戳或签收日期为准）向《乐智小天地》客服中心提出补寄申请，超过时间恕不受理。</p>
                    <p class="title">Q3：认证和非认证用户有什么不同的待遇？</p>
                    <p class="msg">只要通过输入手机验证码就可以免费成为认证用户了。非认证用户可以浏览浏览各网站页面，购买商品，但是不可以下载开心乐园中的壁纸、歌曲，也不能玩里面的游戏，也不能参加活动专区中的各项活动。认证用户可以完整使用网站内的各种功能、参加各类活动。</p>
                    <p class="title">Q4：如果当月收到的商品物中有破损的情况或质量问题，该怎么办？</p>
                    <p class="msg">请于收到商品的15天以内（以收件邮戳或签收日期为准）向《乐智小天地》客户服务中心提出更换申请。</p>
                </div>
                <div class="help-info-content" id="4-1">
                    <p class="title">查看订单：</p>
                    <p class="msg2">登录后，您可以在“我的订单”中查看最近的订单或历史订单。</p>
                    <p class="msg">当订单为“待处理”的状态，表示客服人员尚未处理您的订单，请耐心等待。当订单为“已处理”的状态，表示客服已经处理好您的订单，货品开始配送并向您发出了。</p>
                    <p class="title">查看活动： </p>
                    <p class="msg">当您参加网上各项活动，在您的活动记录中就会有您所参加的每项活动信息，您可以按“详情请点击”来查看</p>
                    <p class="title">短消息</p>
                    <p class="msg">您可以点击其他用户的昵称并“添加为好友”，成为好友后你就可以给他“写消息”了。新的消息会在网页最上方或者您的用户中心显示。</p>
                    <p class="title">修改资料</p>
                    <p class="msg">进入修改资料您就可以修改您的收获地址等信息。</p>
                </div>
                <div class="help-info-content" id="5-1">
                    <p class="msg">申请退款→阅读退订须知→协商退款→寄回商品→将运单底单传真至客服中心→仓库确认收货→退回余款</p>
                    <p class="title">一、退订须知</p>
                    <p class="msg2">商品未拆封、无损坏，不影响其二次销售，方能退货。顾客使用、退换、维修问题请首先拨打全国售后服务电话，与专业人员取得联系。 售后服务电话：800-820-5099 （电话用户） 400-820-5099 （手机用户）</p>
                    <p class="msg">工作日：周一至周五，工作时间：9:00－18:00；周六、日及法定节假日除外。</p>
                    <p class="title">二、开心成长系列商品的退款结算：</p>
                    <p class="msg2">①  客户所订商品全部退货时，实际并未购买商品。</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户实际收到的退款额＝【已付金额-退订手续费10元- 配送费】</p>
                    <p class="msg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例，山东客户同时货到付款购买了巧虎的乐舞音乐盒和好心情雨具组，现在要求全部退订。 该客户实际退款金额＝【已付金额（596+16元）-退订手续费10元-16元】 ＝586元</p>
                    <p class="msg2">②  客户订购2或3套成长系列商品，只退其中1套或2套时，退款扣除实际购买商品费用、配送费。</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户实际收到的退款额＝【已付金额-实际购买商品价格-配送费-退订手续费10元】</p>
                    <p class="msg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例，山东客户同时货到付款购买了巧虎的乐舞音乐盒和好心情雨具组，现在要求只退订乐舞音乐盒，雨具组不退。 该客户实际退款金额＝【已付金额（596+16）元¬-- 实际购买好心情雨具组的价格298元-配送费16元-退订手续费10元】＝288 元。因同时订购产生的优惠和礼物也应一并结算或退回。</p>
                    <p class="title">三、退款处理：</p>
                    <p class="msg">a、在配送结果为拒收，汇款状态为已收时（即拒收解约），没有退货，直接办理退款。</p>
                    <p class="msg2">b、有退货的情况下，物流中心收到退货并反馈至系统后，再进行退款结算。</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①退订手续费：当您已付款的情况下要求退订解约，需要退款时，需收取退订手续费10元。</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②退回的余款将通过邮局汇款汇到您的收货地址。</p>
                    <p class="msg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③退款时间：原则上，接受退订请求30个工作日内退款；有退货时，收到退货后30个工作日内退款。</p>
                    <p class="msg2">c、退款相关信息</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联络 公司电话 800-820-5099（固话） 400-820-5099（手机） 021-61611122（无400/800地区收费电话）</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真号码 800-820-8299（免费） 021-61610800（收费）</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退货地址 邮局包裹（或EMS）</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：上海邮政信箱613-88</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮编：201613</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收件人：倍乐生商贸(中国)有限公司</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;快递退回（EMS除外） （不支持到付）</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：上海市青浦区新丹路555号</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收货人：倍乐生商贸(中国)有限公司</p>
                    <p class="msg2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退货注意事项： 货物退回后，要将底单传真至客服中心，并来电确认（快递单和传真单上要写清楚客户编号、家长姓名、宝宝姓名）</p>
                </div>
            </div>
        </div>
    </div>
</div>