<div id="header">
    <!-- <div class="internet-explorer">
        <p class="text">为了您更好的体验请尝试使用Internet Explorer 9 及以上浏览器，Microsoft Edge，等IE内核浏览器<span class="close"></span></p>
    </div> -->
    <div class="header-main">
        <!-- logo -->
        <a href="javascript:void(0);"><img src="<%= require('assets/image/logo.jpg') %>" alt="巧虎" class="logo" /></a>
        <div class="tel-box">
            <p class="title">客服电话</p>
            <p class="num">021-123456789</p>
            <p class="num">123456789</p>
        </div>
    </div>
</div>
