<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="乐智小天地Plus系列商品作为巧虎乐智小天地学习系列商品的补充，每套商品以独立的主题开发而成，强化各领域的学习。形式更丰富，内容更有针对性，学习的量更多更集中，能满足家长的个性化育儿需求。">
  <meta name="keywords" content="儿童早教，幼儿早教，宝宝早教，早教中心，早教机构，早教课程，早教网，早教机构排名，幼儿教育，巧虎官网，巧虎乐智小天地">
  <title><% if (pageTitle) { %> <%= pageTitle %> <% }  %></title>
  <script>
    var serverPath = "{{url('/')}}/";
    var qiaohu_url = "<?php echo $qiaohu_url?>/";
    var platform = '<?php echo $platform?>';
    var env_name = '<?php echo $env_name?>';
    var is_login = '<?php echo $is_login?>';
  </script>
  <!--[if lt IE 9]>
    <% for(var i in STATIC_BUILD.fixIe){ %>
      <script type="text/javascript" src="<%= STATIC_BUILD.fixIe[i] %>"></script>
    <% } %>
  <![endif]-->
  <% if(ISPROD) { %> <%= baiduAnalyzer() %> <% } %>
</head>
<body>