<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title><% if (pageTitle) { %> <%= pageTitle %> <% }  %></title>
  <script>
    var serverPath = "{{url('/')}}/";
    var qiaohu_url = "<?php echo $qiaohu_url?>/";
    var platform = '<?php echo $platform?>';
    var env_name = '<?php echo $env_name?>';
    var is_login = '<?php echo $is_login?>';
  </script>
  <!--[if lt IE 9]>
    <% for(var i in STATIC_BUILD.fixIe){ %>
      <script type="text/javascript" src="<%= STATIC_BUILD.fixIe[i] %>"></script>
    <% } %>
  <![endif]-->
  <!-- 百度统计 -->
  <!-- <% if(ISPROD) { %> <%= baiduAnalyzer() %> <% } %> -->
</head>
<body>