<div class="brand-weapper">
    <div class="brand-main">
        <!-- 申请信息 -->
        <div class="brand-info-box">
            <div class="img">
                <img src="<%= require('assets/image/login/login-item03.png') %>" alt="" class="icon" />
            </div>
            <div class="info">
                <div class="name">专利申请</div>
                <div>
                    <p><span>市场价：</span><span>￥1500-5000</span></p>
                    <p><span>优惠价：</span><span class="red">￥799起</span></p>
                </div>
                <div class="type">
                    <p class="title">类型</p>
                    <ul>
                        <li>商标注册</li>
                        <li>商标转让</li>
                        <li>商标无效</li>
                        <li>商标复审</li>
                        <li>商标购买</li>
                        <li>商标续展</li>
                    </ul>
                </div>
                <div class="btn-box">
                    <span>在线咨询</span>
                    <span>电话咨询</span>
                </div>
            </div>
        </div>
        <!-- 查询 -->
        <div class="find-box">
            <img src="<%= require('assets/image/login/login-item02.png') %>" alt="" class="icon" />
            <div class="input-box">
                <input type="text" placeholder="请输入商品名称：中文/英文/拼音">
                <span id="searchBtn">搜索</span>
            </div>
        </div>
        <div class="main-box">
            <img src="<%= require('assets/image/login/login-item01.png') %>" alt="" class="icon" />
        </div>
    </div>
</div>
