#footer {
  width: 100%;
  background-color: #9e948f;
  color: #fff;
  .contact-archival {
    width: 100%;
    text-align: center;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    padding: 12px 0;
    background-color: #efefef;
    font-size: 16px;
    color: #333;
    .baian {
      font-size: 12px;
      color: #7b818d;
    }
  }
}
.fk_siteBackToTop {
  position: fixed;
}
.fk_siteBackToTop {
  width: 50px;
}
.fk_siteBackToTop {
  height: 50px;
}
.fk_siteBackToTop {
  margin: 1px;
}