<div id="index-page">
    <div class="index-page-content">
        <div class="banner-box">
            <div class="swiper-container">
                <div class="swiper-wrapper" id="indexBanner"></div>
                <div class="pagination-box">
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>