<div id="index-page">
    <div class="index-page-content">
        <div class="banner-box">
            <div class="swiper-container">
                <div class="swiper-wrapper" id="indexBanner"></div>
                <div class="pagination-box">
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
        <!-- 介绍 -->
        <div class="introduce-box">
            <div class="introduce-title">
                <p class="title">优势介绍</p>
                <p class="desc">国家知识产权局、商标局正规备案服务机构</p>
                <p class="line"><img src="<%= require('assets/image/index_line.png') %>" alt="" class="icon" /></p>
            </div>
            <div class="introduce-main">
                <div class="introduce-main-item">
                    <h1>知识产权布局</h1>
                    <span>我们根据客户的知识产权需要可以定制专属的知识产权保护体系，为客户的核心知识产权保驾护航！</span>
                </div>
                <div class="introduce-main-item">
                    <h1>资深代理人服务</h1>
                    <span>我们拥有专业的服务团队，专属代理人一对一服务深挖专利和版权的保护要点，为您的产权保护提供强有力的技术支持！</span>
                </div>
                <div class="introduce-main-item">
                    <h1>500+家服务合作</h1>
                    <span>我们与国内500多家知识产权服务机构深度合作，资源丰富，可为企业快速寻找适合自己的专利资源！</span>
                </div>
                <div class="introduce-main-item">
                    <h1>售后无忧</h1>
                    <span>专业的流程服务体系，专利、版权、商标售后服务及时更新，确保通知书及时送达，让您的售后便捷无忧！</span>
                </div>
            </div>
        </div>
        <!-- 服务 -->
        <div class="server-box">
            <div class="server-title">
                <p class="title">知识产权一站式服务</p>
                <p class="desc">专利、版权、商标一站式服务中心</p>
            </div>
            <div class="server-main">
                <p class="img"><img src="<%= require('assets/image/index_server_icon01.png') %>" alt="" class="icon" /></p>
                
            </div>
        </div>
    </div>
</div>